.row
  .col-md-8.col-md-offset-2
    .well.answer
      %p
        %b
          Q.
          = answer.question.text
      %p
        A.
        = t answer.answer
        - if answer.question.ask_subtype?
          - if answer.subtype.present?
            (#{t answer.subtype})
          - else
            (Any)
