.col-md-8.col-md-offset-2
  %h2 Tell us about your perfect neighbourhood
  - if @answer.new_record?
    .progress
      .progress-bar{role: 'progressbar', style: "width: #{progress}%;"}
        = "#{remaining_questions} remaining"
  = render partial: 'form', locals: {answer: @answer}
