#answers
  #title-and-controls
    %h1 Your answers
    %p#controls
    - if current_user.unanswered_questions.any?
      = link_to raw("Answer more &raquo;"), new_answer_path, class: 'btn btn-success btn-lg'
    - else
      = link_to raw("Back to matches &raquo;"), matches_path, class: 'btn btn-success btn-lg'
  = render partial: 'answer', collection: @answers
