#answers
  #title-and-controls
    %h1 Your answers
    %p#controls
    - if current_user.unanswered_questions.any?
      = link_to new_answer_path, class: 'btn btn-success btn-lg' do
        Answer more
        %span.glyphicon.glyphicon-chevron-right
    - else
      = link_to matches_path, class: 'btn btn-success btn-lg' do
        Back to matches
        %span.glyphicon.glyphicon-chevron-right
  = render partial: 'answer', collection: @answers
