%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Matches
.row
  .col-md-12.text-center
    %h1 Your matches
.row
  .col-md-6.col-xs-12
    %table.table.table-striped.table-bordered#matchlist
      %thead
        %tr
          %th Neighbourhood
          %th Match
      %tbody
        - @matches.each do |match|
          %tr.match{data: {map_highlight: map_highlight(match)}}
            %td
              = link_to match.area.name, match_path(match.area.name)
            %td
              #{match.score.to_i}% match
  .col-md-6.col-xs-12
    #matchmap
    :javascript
      initialize_matchmap(#{matches_map_json @matches[0..4]})
