// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer {
  p {
    margin: 5px 0;
  }
}

.progress {
  height: 32px;
  .progress-bar {
    font-size: 12px;
    line-height: 32px;
    text-align: right;
    padding-right: 12px;
  }
}

.image-zone {
  img {
    width: 100%;
  }
}

.answer-well {
  @extend .well;
  font-size: 1.2em;
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
}

.answer-group {
  // Not very responsive - leave this out until a better solution is found
  // @extend .btn-group;
  float: left;
  
  label.btn {
    @extend .btn-default;
    margin-top: 0.2em;
  }
}

.subtype-selector {
  @extend .pull-right;
  margin-top: 0.2em;
  @media (max-width: $screen-md-min) {
    float: left !important;
  }
}

.answer-button-group {
  @extend .pull-right;
}

#title-and-controls {
  @extend .row;
  text-align: center;
  margin-bottom: 3em;
}

#jumpahead {
  @extend .pull-right;
  clear: both;
  margin-top: 1em;
}