.panel-body {
  @extend .row;
}

#info {
  @extend .col-xs-12;
}

#via-oauth {
  @extend .col-sm-6;
  @extend .col-xs-12;
  
  text-align: center;

  .btn-facebook, .btn-twitter {
    @extend .btn-lg;
    margin: 1em;
    @media (max-width: $screen-sm-min) {
      margin: 0.5em;
    }
  }

  .btn-facebook {
    background-color: #3b5998;
    color: white;
  }
  
  .btn-twitter {
    background-color: #55acee;
    color: white;
  }

}

#via-email {
  @extend .col-sm-6;
  @extend .col-xs-12;
}
