.panel-body {
  @extend .row;
}

#via-oauth {
  @extend .col-xs-6;
  
  text-align: center;

  .btn-facebook, .btn-twitter {
    @extend .btn-lg;
    margin: 1em;
  }

  .btn-facebook {
    background-color: #3b5998;
    color: white;
  }
  
  .btn-twitter {
    background-color: #55acee;
    color: white;
  }

}

#via-email {
  @extend .col-xs-6;
}
