.centered {
  text-align: center;
}

.gsoh-logo {
  padding-left: 56px;
  background: image-url('blue-house.svg');
  background-size: 48px 48px;
  background-repeat: no-repeat;
  background-position: left center;
}
