// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.good, span.good:before {
  color: green !important; // Marked as important black in print css, so override
  &.icon {
    @extend .glyphicon;
    @extend .glyphicon-thumbs-up;
  }
}
span.middle, span.middle:before {
  color: orange !important; // Marked as important black in print css, so override
}
span.bad, span.bad:before {
  color: red !important; // Marked as important black in print css, so override
  &.icon {
    @extend .glyphicon;
    @extend .glyphicon-thumbs-down;
  }
}
span.info, span.info:before {
  color: blue !important; // Marked as important black in print css, so override
  &.icon {
    @extend .glyphicon;
    @extend .glyphicon-info-sign;
  }
}
span.dealbreaker, span.dealbreaker:before {
  color: red !important; // Marked as important black in print css, so override
  &.icon {
    @extend .glyphicon;
    @extend .glyphicon-ban-circle;
  }
}

.print-button {
  @extend .btn;
  @extend .btn-info;
  @extend .pull-right;
  @media print {
    display: none;
  }
  @media (max-width: $screen-md-min) {
    display: none;
  }
}

table.match-details {
  th {
    width: 25%;
  }
  td {
    width: 75%;
  }
  @media print {
    th, td {
      width: 50%;
      border: 1px solid #cccccc;
      border-collapse: collapse;
    }
    td.map-button {
      display: none;
    }
    .more {
      display: none;
    }
    .collapse {
      display: inherit;
    }
  }
}

div#matchmap {
  height: 600px;
  border: 1px solid #ecf0f1;
  margin-bottom: 1em;
  @media (max-width: $screen-md-min) {
    // On small devices, leave a little space at the side for scrolling
    margin: 2em;
    height: 300px;
  }
  @media print {
    height: 600px;
    width: 600px;
  }
}

#match-headline {
  @extend .row;
  padding: 4em;
  .match {
    @extend .col-md-8;
    @extend .col-md-offset-2;
    padding: 2em;
    background-color: #FAEBD6;
    border: 1px solid black;
    text-align: center;
    h1, h2 {
      margin-top: 11.5px;
      margin-bottom: 11.5px;
    }
    h1 {
      font-size: 7em;
      color: green;
      font-weight: bold;
      @media (max-width: $screen-md-min) {
        font-size: 3em;
      }
    }
  }
}
#other-matches {
  @extend .row;
  #table-column {
    @extend .col-md-6;
    @extend .col-xs-12;
  }
  #map-column {
    @extend .col-md-6;
    @extend .col-xs-12;
    #matchmap {
      margin-top: 21px; // matches h2
    }
  }
}

.share {
  div {
    display: inline;
  }
}