// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.good {
  color: green;
}
span.middle {
  color: orange;
}
span.bad {
  color: red;
}

table.match-details {
  th {
    width: 25%;
  }
  td {
    width: 75%;
  }
}

div#matchmap {
  height: 600px;
  border: 1px solid #ecf0f1;
  margin-bottom: 1em;
}

#matchdetails #matchmap {
  margin-top: 21px; // to match h2
}